/* body样式 */
.bodyDemo{
  margin:0;
  padding:0;
  background: rgb(245, 241, 241);
}
/* 内层demo样式 */
.demo{
  width: 70%;
  height: 100%;
  min-height: 930px;
  margin-left: 15%;
  background: #fff;
}
/* 标题样式 */
.title{
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 2rem;
  padding:20px;
}
/* 表头颜色 */
.row-header{
  position: relative;
  height: 42px;
  line-height: 42px;
  padding: 0 15px 0 35px;
  color: #333;
  background-color: rgb(82, 207, 245);
  cursor: pointer;
  font-size: 14px;
  overflow: hidden;
  /* background-color: #009688; */
}
/* 内嵌表头颜色 */
.layui-colla-title{
  background-color: #fff;
}
.layui-table thead tr{
  background-color: #fff;
}
/* 面板一 */
.item{
  color: rgb(82, 207, 245);
}
/* 面板二 */
.itemOneSub{
  color: rgb(82, 207, 245);
}
/* 面板三 */
.itemTwoSub{
  color: rgb(82, 207, 245);
}
/* 步骤面板 */
.step{
  padding-left: 20px;
  background: #f2f2f2
}
.step div{
  margin: 5px 0;
}